*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  height: 112px;
}

#header-title {
  color: #dc548a;
  text-align: center;
  font-size: 3.7rem;
  padding-top: 18px;
}

span {
  color: #fff;
  font-weight: 300;
}