*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  height: 112px;
}

#header-title {
  color: #dc548a;
  text-align: center;
  font-size: 3.7rem;
  padding-top: 18px;
}

span {
  color: #fff;
  font-weight: 300;
}

#article_reset {
  width: 472px;
  margin: 0px auto;
}

#form_btn_reset {
  width: 100%;
  margin: 2% 0%;
  height: 37px;
  font-size: 1.5rem;
}
